---
version: "3"

services:
  octaaf:
    image: golang:1.12
    volumes:
      - .:/go/src/octaaf
    working_dir: /go/src/octaaf
    command: go run octaaf -mod vendor
    network_mode: host
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - postgres
      - jaeger

  redis:
    image: redis:4.0
    ports:
      - "6379:6379"

  postgres:
    image: postgres:10.5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "octaaf_development"
      POSTGRES_USER: "octaaf"
    ports:
      - 5432:5432

  jaeger:
    image: jaegertracing/all-in-one:1.8
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: "9411"
    ports:
      - 5775:5775/udp
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 14268:14268
      - 9411:9411

  grafana:
    image: grafana/grafana:6.0.1
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "4uCEmZweC9onJR9UbH3BGJVnK9G9U"
    ports:
      - "8030:3000"
    depends_on:
      - postgres
    volumes:
      - ./assets/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./assets/grafana/datasources:/etc/grafana/provisioning/datasources
