---
version: "3"

services:
  octaaf:
    image: golang:1.12
    volumes:
      - .:/go/src/octaaf
    working_dir: /go/src/octaaf
    command: go run octaaf -mod vendor
    environment:
      KALICOIN_ENABLED: "true"
      KALICOIN_URI: "http://kalicoin:8000"
      KALICOIN_USERNAME: "octaaf"
      KALICOIN_PASSWORD: "secret"
      JAEGER_AGENT_HOST: "jaeger"
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - octaaf-db
      - jaeger
      - kalicoin
  
  redis:
    image: redis:4.0
    ports:
      - "6379:6379"

  octaaf-db:
    image: postgres:10.5
    environment:
      POSTGRES_DB: "octaaf_development"
      POSTGRES_USER: "octaaf"
    ports:
      - 5432:5432

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - 16686:16686

  grafana:
    image: grafana/grafana:6.0.1
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "4uCEmZweC9onJR9UbH3BGJVnK9G9U"
      GF_INSTALL_PLUGINS: "grafana-piechart-panel,grafana-worldmap-panel"
    ports:
      - "3000:3000"
    depends_on:
      - octaaf-db
    volumes:
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources

  kalicoin:
    image: registry.gitlab.com/bartwillems/kalicoin:latest
    environment:
      ENVIRONMENT: "development"
      DATABASE_URI: "postgres://kalicoin:@kalicoin-db:5432/kalicoin?sslmode=disable"
      JAEGER_SERVICE_NAME: "kalicoin"
      JAEGER_AGENT_HOST: "jaeger"
      JAEGER_AGENT_PORT: "6831"
      AUTH_USERNAME: "octaaf"
      AUTH_PASSWORD: "secret"
      API_PORT: ":8000"
    depends_on:
      - kalicoin-db

  kalicoin-db:
    image: postgres:10.5
    environment:
      POSTGRES_DB: "kalicoin"
      POSTGRES_USER: "kalicoin"
    ports:
      - 6666:5432
